html, body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a {
	text-decoration: none;
}
#head {
	height: 15%;
	color: #000000;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -8px;
	position: relative;	
	background-image: linear-gradient(bottom, rgb(247,247,13) 31%, rgb(186,247,17) 66%, rgb(79,240,103) 83%);
	background-image: -o-linear-gradient(bottom, rgb(247,247,13) 31%, rgb(186,247,17) 66%, rgb(79,240,103) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(247,247,13) 31%, rgb(186,247,17) 66%, rgb(79,240,103) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(247,247,13) 31%, rgb(186,247,17) 66%, rgb(79,240,103) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(247,247,13) 31%, rgb(186,247,17) 66%, rgb(79,240,103) 83%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.31, rgb(247,247,13)),
	color-stop(0.66, rgb(186,247,17)),
	color-stop(0.83, rgb(79,240,103))
	);
	display: block;
	font-size: 1.05em;
	font-family: 'adobe-clean', 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
	font-weight: 300;
	padding-left: 7px;
}
#head span {
	margin-left: 10%;
}
#head span a {
	color: #000;
}
#header {
	height: 80px;
	margin-left: 8%;
	margin-right: 7%;
	margin-top: -19px;
	position: relative;
	color: #00CC00;
	font-weight: 800;
	padding: 0;
	display: block;
}
#menu-container {
	height: 4%;
	margin-left: 18.8%;
}
#searchcontents {
	position: absolute;
}
/*dialog*/
#dialogtable {
	font: inherit;
	font-size: 18px;
	border-bottom-color: #008000;
}
#dialogtable td {
	border: 0px;
}
#dialogtable tr {
	border-bottom: 0px;
}

/*end dialog*/

#loginbar {
	height: 40px;
	margin-left: 8%;
	margin-right: 7%;
	background: #FFFFFF;
	-moz-box-shadow: 1px 1px 10px 1px #ccc;
	-webkit-box-shadow: 1px 1px 10px 1px #ccc;
	box-shadow: 1px 1px 10px 1px #ccc;
	color: #000000;
	padding-left: 200px;
	display: block;
	text-align: center;
}
#topadvert {
	height: 80px;
	margin-left: 8%;
	margin-right: 7%;
	position: relative;
	background: #4FF067;
	/*-moz-box-shadow: 3px 3px 5px 6px #ccc;
	 -webkit-box-shadow: 3px 3px 5px 6px #ccc;*/
	color: #000000;
	padding: 0;
	display: block;
	text-align: center;
}
#personalnav {
	height: 40px;
	margin-left: 8%;
	margin-right: 7%;
	background: #FFFFFF;
	/*-moz-box-shadow: 3px 3px 5px 6px #ccc;
	 -webkit-box-shadow: 3px 3px 5px 6px #ccc;*/
	box-shadow: 1px 1px 10px 1px #ccc;
	color: #000000;
	padding: 0;
	display: block;
	text-align: center;
}
#welcome {
	height: 830px;	
	margin-right: 15%;
	background: #FFFFFF;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 1px 1px 10px 1px #ccc;
	color: #000000;
	padding: 0;
	display: block;
	text-align: center;
}
#welcome h1 {
	font-family: Calibri
}
#loginbar .loginbarother {
	font-weight: normal;
	font-size: 13px;
}

#facebook {
	float: right;
	margin-right: 8%;
}
#alotofcrap {
	font-size: 15px;
}

#search {	
	margin-left: 8%;
	margin-right: 7%;
	height: 220px;	
	width: 1300px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	
	background-image: linear-gradient(bottom, rgb(247,247,13) 31%, rgb(186,247,17) 66%, rgb(79,240,103) 83%);
	background-image: -o-linear-gradient(bottom, rgb(247,247,13) 31%, rgb(186,247,17) 66%, rgb(79,240,103) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(247,247,13) 31%, rgb(186,247,17) 66%, rgb(79,240,103) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(247,247,13) 31%, rgb(186,247,17) 66%, rgb(79,240,103) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(247,247,13) 31%, rgb(186,247,17) 66%, rgb(79,240,103) 83%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.31, rgb(247,247,13)),
	color-stop(0.66, rgb(186,247,17)),
	color-stop(0.83, rgb(79,240,103))
	);
}
#topadd {
	margin-top: 0%;
	margin-left: 8%;
	margin-right: 7%;
	height: 220px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
.searchfield/*textfield*/ {
	background-color: #F9EFCA;
	border-color: #EDCE60;
	border-radius: 5px;
	-moz-border-radius: 5px;
	width: 280px;
	height: 28px;
	color: #000;
	font-size: 15px;
	text-align: center;
	float: left;
}
#searchwhere {
	margin-left: 3%;
}
#searchcontents {
	width: 700px;
	top: 31%;
	left: 28%;
}
#official {
        position: absolute;
	
	top: 38%;
	left: 40%;
}
#topbanner {
        position: absolute;
        
	top: 11%;
	left: 27%;
}
#logohome {
	
	top: 20%;
	
	float: left;
	
}
#logo {
	float: left;
	margin-left: -10%;
	margin-top: -3%;
	margin-right: 1%;
	font-weight: lighter;
	font-size: 14px;
}
#mike ::-webkit-scrollbar {
	width: 12px;
}

/* Track */
#mike ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
#mike ::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #EDCE60;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*end #mike*/

.projects {
	width: 1150px;
	margin: 0 auto 60px;
	overflow: hidden;
}
.projects .project {
	width: 210px;
	float: left;
	margin: 0 20px 20px 0px;
}
.projects .projectad {
	width: 200px;
	float: left;
	margin: 0 20px 20px 10px;
}

.projects .project .info {
	padding: 1px;
	height: 35px;
	background-color: #FFE600;
}
.projects .project h3 {
	font-size: 13px;
	letter-spacing: -.04px;
	color: black;
	font-weight: 400;
}

.projects .project p {
	text-transform: uppercase;
	font-weight: normal;
	padding: 0;
	font-size: 10px;
	letter-spacing: .16px;
	margin: 0;
	color: #948980;
}
.projects .project p span {
	padding-right: 10px;
}
.projects .project img {
	margin: 0;
	padding: 0;
}

.projects .project #mike {
	border: 1px solid;
	display: block;
	zoom: 1;
	width: 208px;
	height: 270px;
	position: relative;
	overflow: hidden;
}
.projects .project #mike ul {
	float: left;
	font-size: 12px;
}
.projects .project #mike ul li {
	padding-top: 3px;
	text-align: left;
}
.projects .project #mike ul li a {
	color: black;
}
.projects .project #mike ul li a:hover {
	color: red;
}
.projects .project #mike span {
	display: block;
	width: 90%;
	height: 100%;
	position: absolute;
	overflow: auto;
	top: 0;
	left: 0;
	background: 50% 50% #FFF;
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
}

.projects .project a:hover span {
	opacity: 1;
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
}

#submitsearch/*button*/ {
	cursor: pointer;
	margin-left: 1%;
	width: 90px;
	height: 36px;
	color: #FFFFFF;
	background: #EDCE60 center;
	border: solid #EDCE60;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#space {
	height: 5px;
}

#userstuff {
	color: #FF0000;
	font-weight: bold
}
#adminsettingstitle {
	margin-top: 3%;
	font-size: 20px;
	font-weight: bold;
}
.holder {
	margin-left: 35%;
	padding: 25px;
	background: whitesmoke;
	border: 1px solid #E5E5E5;
	display: block;
	width: 362px
}
.othertext {
	font-family: calibri;
	font-size: 16px;
}
.signintitle {
	font-family: calibri;
	font-size: 20px;
}

#signinholder {
	margin-left: 40%;
	margin-top: 10%;
	background: whitesmoke;
	padding: 20px 25px 15px;
	border: 1px solid #E5E5E5;
	width: 335px;
}
#hmsholder {
	background: whitesmoke;
	font-family: calibri;
	font-size: 18px;
}

.signininput {
	width: 100%;
	height: 32px;
	font-size: 15px;
}

.greenbutton {
	margin: 0 1.5em 1.2 em 0;
	line-height: 29px;
	vertical-align: bottom;
	border: 1px solid #50A6C2;
	color: black;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: rgb(247,247,13);
	display: inline-block;
	min-width: 46px;
	text-align: center;
	font-weight: bold;
	padding: 0 8px;
	border-radius: 2px;
	cursor: pointer;
	font-size: 13px;
	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-o-transition: background-color 0.25s;
	transition: background-color 0.25s;
}
.greenbutton:hover {
	background-color: rgb(186,247,17);
}

/*Tables*/
.reporttable {
	margin-top: 3%;
	font: 11px/27px Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 90%;
}
.businessreporttable {
	margin-top: 3%;
	font: 11px/27px Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}
.businessreporttable th {
	padding: 0 0.5em;
	text-align: left;
}
.reporttable th {
	padding: 0 0.5em;
	text-align: left;
}
.businessreporttable tr.yellow th {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
}

.reporttable tr.yellow th {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
}

.businessreporttable td {
	border-bottom: 1px solid #CCC;
	padding: 0 0.5em;
}

.reporttable td {
	border-bottom: 1px solid #CCC;
	padding: 0 0.5em;
}

.reporttable td:first-child {
	width: 140px;
}
.businessreporttable td+ td {
	border-left: 1px solid #CCC;
	text-align: center;
}

.reporttable td+ td {
	border-left: 1px solid #CCC;
	text-align: center;
}

/*End tables*/

.button {
	vertical-align: bottom;
	border: 1px solid #AA6600;
	color: white;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #AA6600;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	padding: 0 4px;
	border-radius: 2px;
	cursor: pointer;
}
.button:hover {
	border: 1px solid black;
}
/*Settings Links
 *
 *
 *
 * */
.settingslinks h2 a:hover {
	padding: 0 14px;
}

.settingslinks h2 {
	width: 15%;
	background: #EDCE60;
	padding: 0 0 0 10px;
	font-size: 14px;
	line-height: 2;
}
.settingslinks h2 a {
	float: right;
	position: relative;
	text-decoration: none;
	color: #333;
	padding: 0 10px;
	border-left: 5px solid white;
	-webkit-transition: padding 0.1s linear;
	-moz-transition: padding 0.1s linear;
	-ms-transition: padding 0.1s linear;
	-o-transition: padding 0.1s linear;
}
.settingslinks h2 a:before, .settingslinks h2 a:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 0;
	height: 0;
}
.settingslinks h2 a:before {
	left: -12px;
	/* Triangle */
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid white;
	/* Pull-up */
	margin-top: -8px;
}
.settingslinks h2 a:after {
	/* Smaller and different position triangle */
	left: -5px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #EDCE60;
	margin-top: -6px;
}
/*End setting links

 *
 *
 *
 * */

.action_button:hover {
	cursor: pointer;
	border: 1px solid green;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: green;
	background-image: -webkit-gradient(linear,left top,left bottom,from(green),to(green));
	background-image: -webkit-linear-gradient(top,green,green);
	background-image: -moz-linear-gradient(top,green,green);
}
.action_button {
	width: 150px;
	height: 15px;
	color: white;
	text-decoration: none;
	font-size: 12px;
	font-family: helvetica, arial;
	font-weight: bolder;
	display: block;
	text-align: center;
	background: #AA6600;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px 20px;
	letter-spacing: 1px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	margin: 5px 10px;
}
.top_menu_active {
	color: #036;
	background: #FFFFFF;
}

::-webkit-input-placeholder {
	font-size: 15px;
	text-align: center;
	font-family: Arial;
}
input:-moz-placeholder {
	color: #999;
}
#footer .container {
	padding-top: 0px;
	width: 700px;
	margin: 0 auto;
}
.clearfix {
	display: block;
}
.clearfix::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#footer .upper_footer ul.footer_nav h4 {
	border-bottom: thin solid #E1E1E1;
	display: block;
	-webkit-margin-before: 1.33em;
	-webkit-margin-after: 1.33em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
#footer li {
	list-style: none;
	display: list-item;
	text-align: -webkit-match-parent;
}
#footer a {
	color: #4183C4;
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	text-align: -webkit-match-parent;
}

#footer .upper_footer ul.footer_nav {
	position: relative;
	float: left;
	width: 164px;
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1px;
	-webkit-margin-after: 1px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
	padding: 0;
	border: 0;
}
#footer_nav h4 {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: thin solid #e1e1e1;
}
#footer {
	clear: both;
	display: block;
	width: 99%;
	font-size: small;
	text-align: center;
	bottom: 0;
}
#footer, .push {
	height: 180px; /* .push must be the same height as .footer */
}
#footer .upper_footer {
	min-height: 140px;
	overflow: hidden;
	border-top: 1px solid #AA6600;
	border-bottom: 1px solid #AA6600;
	box-shadow: inset 0 -1px 0 white;
	background-color: #F8F8F8;
}
#footer .lower_footer {
	position: relative;
	background-color: white;
	overflow: hidden;
	clear: both;
}

#wrapper {
	min-height: 80%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
#searchresults {
	width: 50%;
	margin-left: 15%;
	margin-right: 30%;
	font-family: Calibri
}
#searchresults .map {

	margin-left: 30%;
}
#searchresults ul {
	list-style-type: none
}
#searchresults ul :hover {
	background-color: #FFFFCC;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	transition: background-color 1s;
}
#moreinfosearchresults {
	width: 70%;
	margin-left: 15%;
	margin-right: 30%;
	font-family: Calibri
}
#moreinfosearchresults ul {
	list-style-type: none
}
#moreinfosearchresults .map {
	margin-left: 50%;
	margin-top: -12%;
}
textarea {
	width: 250px;
	height: 100px;
}
/*pagination*/
#searchresults .pagination {
	color: red
}
.pagination li {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 11px;
	list-style: none;
}
.pagination a {
	border: solid 1px #DDDDDD;
	margin-right: 2px;
}
.pagination .previous-off, .pagination .next-off {
	color: #666666;
	display: block;
	float: left;
	font-weight: bold;
	padding: 3px 4px;
}
.pagination .next a, .pagination .previous a {
	font-weight: bold;
	border: solid 1px #FFFFFF;
}
.pagination .active {
	color: #ff0084;
	font-weight: bold;
	display: block;
	float: left;
	padding: 4px 6px;
}
.pagination a:link, .pagination a:visited {
	color: #0063e3;
	display: block;
	float: left;
	padding: 3px 6px;
	text-decoration: none;
}
.pagination a:hover {
	border: solid 1px #666666;
}
.pagination {
	width: 350px;
	margin: 0 auto 0 auto;
	height: 50px;
}
/*end pagination*/

/*Settings Links
 *
 *
 *
 * */
.personallinks h2 a:hover {
	padding: 0 14px;
	color: #8B0D00;
}

.personallinks h2 {
	width: 25%;
	background: #EDCE60;
	padding: 0 0 0 10px;
	font-size: 14px;
	line-height: 2;
}
.personallinks h2 a {
	width: 55%;
	float: right;
	position: relative;
	text-decoration: none;
	color: #006600;
	padding: 0 10px;
	border-left: 5px solid white;
	-webkit-transition: padding 0.1s linear;
	-moz-transition: padding 0.1s linear;
	-ms-transition: padding 0.1s linear;
	-o-transition: padding 0.1s linear;
}
.personallinks h2 a:before, .personallinks h2 a:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 0;
	height: 0;
}
.personallinks h2 a:before {
	left: -12px;
	/* Triangle */
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid white;
	/* Pull-up */
	margin-top: -8px;
}
.personallinks h2 a:after {
	/* Smaller and different position triangle */
	left: -5px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #EDCE60;
	margin-top: -6px;
}
/*End setting links

 *
 *
 *
 * */

/*membership*/

#membershipcolors div {
	float: left;
	margin: 0 20px 20px 150px;
	color: #FFFFFF;
	text-align: center;
	border: 1px solid #000000
}
#membershipcolors {
	float: left;
	width: 100%;
	margin: 0 auto 60px;
	overflow: hidden;
}
#bronze {
	width: 100px;
	height: 100px;
	background-color: #CD7F32;
	border-radius: 2px
}
#silver {
	width: 100px;
	height: 100px;
	background-color: #C0C0C0;
	border-radius: 2px
}
#gold {
	width: 100px;
	height: 100px;
	background-color: #FFD700;
	border-radius: 2px
}

.tittle-dhtmlx {
    padding: 29px 0 0 121px;
    font-family:arial, serif;
    font-size:16px;
    color:white;
    float:left;
    cursor:default;
}


.buttons {
    position:absolute;
    width: 154px;
    height: 24px;
    left: 55px;
    top:80px;
}

.buttons a.doc {
    display:block;
    height:24px;
    width:93px;
    background-image:url("../img/doc-button.png");
    float:left;
    outline:none;
}

.buttons a.doc_inact {
    display:block;
    height:24px;
    width:92px;
    background-image:url("../img/doc-button_inact.png");
    float:left;
    outline:none;
}

.buttons a.doc_inact:hover {
    background-position:0 -24px;
}

.buttons a.sample {
    display:block;
    height:24px;
    width:62px;
    background-image:url("../img/samples-but.png");
    float:left;
    outline:none;
}

.buttons a.sample_inact {
    display:block;
    height:24px;
    width:55px;
    background-image:url("../img/samples-but_inact.png");
    float:left;
    outline:none;
}

.buttons a.sample_inact:hover {
    background-position:0 -24px;
}


/* CONTENT */

.content {
    margin: 30px 63px 0 63px;
}

.content li {
    list-style:none;
    height:22px;
}

li img {
    margin-bottom:-5px;
    padding-right: 7px;
}

.line {
    margin: 0;
	padding: 1px;
    background: url("../img/border-dotted.gif") repeat-x top;
}


.big_logo {
    display:block;
    width:200px;
    height:54px;
    overflow:hidden;
    line-height:1000px;
    margin: 40px 0 20px 0;
}

.logo_grid{
	background:transparent url("../img/logo_grid.gif") no-repeat;
}
.logo_treegrid{
	background:transparent url("../img/logo_treegrid.gif") no-repeat;
}
.logo_tree{
	background:transparent url("../img/logo_tree.gif") no-repeat;
}
.logo_layout{
	background:transparent url("../img/logo_layout.gif") no-repeat;
}
.logo_menu{
	background:transparent url("../img/logo_menu.gif") no-repeat;
}
.logo_toolbar{
	background:transparent url("../img/logo_toolbar.gif") no-repeat;
}
.logo_windows{
	background:transparent url("../img/logo_windows.gif") no-repeat;
}
.logo_calendar{
	background:transparent url("../img/logo_calendar.gif") no-repeat;
}
.logo_slider{
	background:transparent url("../img/logo_slider.gif") no-repeat;
}
.logo_scheduler{
	background:transparent url("../img/logo_scheduler.gif") no-repeat;
}
.logo_colorpicker{
	background:transparent url("../img/logo_colorpicker.gif") no-repeat;
}
.logo_combo{
	background:transparent url("../img/logo_combo.gif") no-repeat;
}
.logo_tabbar{
	background:transparent url("../img/logo_tabbar.gif") no-repeat;
}
.logo_accordion{
	background:transparent url("../img/logo_accordion.gif") no-repeat;
}
.logo_folders{
	background:transparent url("../img/logo_folders.gif") no-repeat;
}
.logo_editor{
	background:transparent url("../img/logo_editor.gif") no-repeat;
}
.logo_ajax{
	background:transparent url("../img/logo_ajax.gif") no-repeat;
}
.logo_gantt{
	background:transparent url("../img/logo_gantt.gif") no-repeat;
}
.logo_chart{
	background:transparent url("../img/logo_chart.gif") no-repeat;
}
.logo_dataview{
	background:transparent url("../img/logo_dataview.gif") no-repeat;
}
.logo_form{
	background:transparent url("../img/logo_form.gif") no-repeat;
}


.topics li {
    background:url("../icons/old.gif") no-repeat;
    padding-left: 25px;
    line-height:22px;
}

.samples li {
    background:url("../icons/file.gif") no-repeat;
}

ul.list {
    margin-left:40px;
}

.list li {
    list-style-image:url("../icons/bullet.gif");
}

.component-demo-placeholder {
    width:602px;
    height:252px;
    background:url("../img/grid-placeholder.gif");
}

.source {
    width:100%;
    background:url("../img/source-bg.gif");
    border-top: dashed 3px #ccc;
    border-bottom: dotted 1px #ccc;
    margin-top:20px;
}

.code {
    margin:20px 63px;
}

.teg {
    height:40px;
    color:#ccc;
    font-size:30px;
    font-family: Tahoma, Arial, Helvetica, Tahoma, serif;
    background:url("../img/source.gif") no-repeat 0 22px;
    padding: 10px 0 0 63px;
}

/*colorizer*/


.hl-default {
    color: Black;
}
.hl-code {
    color: Gray;
}
.hl-brackets {
    color: Olive;
}
.hl-comment {
    color: Orange;
}
.hl-quotes {
    color: Darkred;
}
.hl-string {
    color: Red;
}

.hl-identifier {
    color: Blue;
}

.hl-identifier a{
    	    font-family: "Courier New";
	    font-size: 11px;
	    color: Blue;
	    text-decoration: underline;
}

.hl-builtin {
    color: Teal;
}
.hl-reserved {
    color: Green;
}
.hl-inlinedoc {
    color: Blue;
}
.hl-var {
    color: Darkblue;
}
.hl-url {
    color: Blue;
}
.hl-special {
    color: Navy;
}
.hl-number {
    color: Maroon;
}
.hl-inlinetags {
    color: Blue;
}
.hl-main {
    background: transparent;
}
.hl-gutter {
    background-color: #999999;
    color: White
}
.hl-table {
    font-family: "Courier New";
    font-size: 12px;
    border: solid 1px lightgray;
}

.form_list ul {
  list-style:none;
  font-family:Arial, Helvetica, sans-serif;
}

.form_list li{
  margin: 10px 0;
}

.form_list label{
  display:block;
}

fieldset{
  border:1px solid #ccc;
}

h1 {
  font-size: 11px;
  font-family:Arial, Helvetica, sans-serif;
}

div#container_demo{
  margin: 0 auto;
  width: 500px;
  background-color: #FFFFCC;  
}

div#map{
  height: 300px;
  margin:0 auto;
  width: 498px;
  border: 1px solid #ccc;
}
